.contacts--list {
  margin-bottom: 40px;
}

.contacts--list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts--list__icon {
  margin-right: 20px;
  fill: currentColor;
}

.contacts--list__link {
  text-decoration: none;
  color: $primary-text-color;
}

.contacts-link:hover {
  color: $accent-color;
}

.contacts .btn-list {
  margin-bottom: 40px;
}

.contacts iframe {
  display: block;
  width: 100%;
  max-width: 1280px;
  height: 450px;
}
