.contacts .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts--tel {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.contacts--tel__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts--tel__link {
  text-decoration: none;
  color: $primary-text-color;
}

.contacts--tel__link:hover {
  color: $accent-color;
}

.contacts .btn-list {
  margin-bottom: 40px;
}

.adress--list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.adress--list__item {
  width: 100%;
}

.adress--list__item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.adress--list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts iframe {
  display: block;
  width: 100%;
  max-width: 1280px;
  height: 450px;
}
