/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  box-sizing: border-box;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: $primary-text-color;
  background-color: $background-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 40px 20px;
  text-align: center;
}

.section-title {
  margin-bottom: 40px;
  font-size: 20px;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: $heading-color;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 20px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $heading-color;
  background-color: transparent;
  transition: color $animation-timing 250ms,
    background-color $animation-timing 250ms,
    border-radius $animation-timing 250ms;
}

.social:hover {
  border-radius: 50%;
  color: white;
  background-color: $heading-color;
}

.icon {
  fill: currentColor;
}
