// Colors
$background-color: #eeeeee;
$primary-text-color: #636363;
$accent-color: #9a709e;
$heading-color: #6e386c;
$black-color: #000;
$white-color: #fff;
$table-color: #dbdbdb;
$instagram-color: #6d3747;

//Animation
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
