// Colors
$background-color: white;
$primary-text-color: grey;
$accent-color: #0e9669;
$heading-color: rgb(44, 197, 138);
$hero-color: black;

//Animation
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
